[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[scripts]
get-micropython = "curl --create-dirs -L -o micropython/${ESP_MICROPYTHON}.bin https://micropython.org/resources/firmware/${ESP_MICROPYTHON}.bin"
erase-flash = "esptool.py --chip esp32 erase_flash"
flash-micropython = "esptool.py --chip esp32 write_flash -z 0x1000 micropython/${ESP_MICROPYTHON}.bin"
build = "./build.sh"
repl = "rshell repl"
sync-code = "./build.sh -d"

[packages]
esptool = "*"
rshell = "*"
pyyaml = "*"
pylint = "*"
paho-mqtt = "*"
bump2version = "*"
notebook = "*"
jupyter-micropython-remote = "*"

[dev-packages]

[requires]
python_version = "3"
